/* Style the container/contact section */ 
label.logo{
  color: orangered;
  font-size: 16px;
  line-height: 50px;
  padding: 0 50px;
  /* font-weight: bold; */
  float: left;
  font-family: 'Fondamento', cursive; 
}

h1 { 
    font-family: 'Fondamento', cursive;
    font-size: 35px; 
    margin:15px;
    padding: 5px 0px;
 }
 
   input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
    
 input[type=submit] {
  background-color: #cfc4c4;
  color: black;
  padding: 12px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}  

input[type=submit]:hover {
  background-color: rgb(97, 92, 92);
  color: black;
}
  .container4 {
    padding: 90px;
    margin: 90px 200px 90px 50px;
    font-family: 'Fondamento', cursive;
  }
  .column1 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .section-search input{
    padding: 5px !important;
    font-size: 18px !important;
    width: 50% !important;
    border: #4D8BF5 3px solid !important;
}
  
.footer {
    padding-bottom: 5px;
    font-size: 15px;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    font-family: 'Fondamento', cursive;
  }
  h4{
    font-size: 20px;
    font-family: 'Fondamento', cursive;
  }
  p{
    font-size: 20px;
    font-family: 'Fondamento', cursive;
  }
  
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

 
  