*{
    box-sizing: border-box;
  }

  label.logo{
    color: orangered;
    font-size: 16px;
    line-height: 50px;
    padding: 0 50px;
    /* font-weight: bold; */
    float: left;
    font-family: cursive;
  }
  /* Style the search field */
  form.search-city input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #F1F1F1;
  }
  /* Style the submit button */
  form.search-city button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  form.example button:hover {
    background: #0B7DDA;
  }
  Clear floats
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
#forecast {
    background-color: blue;
}
p {
   color: white;
   /* font-size: 12px; */
}
h4 {
    color: white;
    font-size: 12px;
}
#search-card {
  background-color: lightgrey;
}

/* footer style */

footer {
    padding-bottom: 5px;
    font-size: 20px;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    
  }
  