*{
    box-sizing: border-box;
  }
 /* logo style */
  label.logo{
    color: orangered;
    font-size: 16px;
    line-height: 50px;
    padding: 0 50px;
    /* font-weight: bold; */
    float: left;
    font-family: 'Fondamento', cursive; 
  }
  /* Style the search field */
  form.search-city input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.search-city button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  Clear floats
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

#forecast {
    background-color: rgb(64, 104, 51);
}
p {
   color: white;
   /* font-size: 12px; */
}

h4 {
    color: white;
    font-size: 15px;
    font-family: 'Fondamento', cursive;
  }

h2 {
    font-family: 'Fondamento', cursive;
}
#search-card {
  background-color: lightgrey;
}
footer {
    padding-bottom: 5px;
    font-size: 20px;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    font-family: 'Fondamento', cursive;
   }
   #map {
    height: 400px;
   
    width: 100%;
   }
   h3{
       font-size:25px ;
       font-family: 'Fondamento', cursive;
       color: black;
       
   }
   #footer{
    padding-bottom: 5px;
    font-size: 20px;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    font-family: 'Fondamento', cursive;
   }
  