/* style famous page and gallery */
*{
  box-sizing: border-box;
}
/* logo style */
label.logo{
  color: orangered;
  font-size: 16px;
  line-height: 50px;
  padding: 0 50px;
  /* font-weight: bold; */
  float: left;
  font-family: 'Fondamento', cursive; 
}

body{
  overflow: hidden;
  background-image: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ifcnYcJei0yU/v1/1000x-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.w3-bar{
  position: fixed;
}
.container5{
  margin-left:200px;
  margin-top:60px ;   
}
#card1,#card2,#card3,#card4,#card5,#card6{
  color:black;
  font-family: 'Fondamento', cursive; 
  margin-bottom: 20px;
  margin-right: 30px;
  
}
#card-title{
   font-family: 'Fondamento', cursive; 
   font-size: 23px;
   
}
#header{
  font-family: 'Fondamento', cursive; 
  font-size: 35px;
}

.container {
  margin-left:350px;
  margin-top:60px ; 
  font-family: 'Fondamento', cursive; 
}
.column {
  float: center;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* footer style */
footer {
  padding-bottom: 5px;
  font-size: 20px;
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  background-color: black;
  color:white;
  text-align: center;
  font-family: 'Fondamento', cursive;
 }

 /* for device at 1000 px screen size */
 /* @media screen and (max-width: 1000px){
  .card{
      max-width: 100%;
      align-items: center;
      
  }
  .card-image{
    max-width: 100%;
    align-items: center;
  }
  #card-title{
    max-width: 100%;
    align-items: center;
  } 
} */

/* for device at 767 px screen size */
/* @media screen and (max-width: 767px){
  .card{
      max-width: 100%;
      align-items: left;
      
  }
  .card-image{
    max-width: 100%;
    align-items: left;
  }
  #card-title{
    max-width: 100%;
    align-items: center;
  } 
} */

@media screen and (orientation: portrait) {
  .card-imag { max-width: 90%; }
}
@media screen and (orientation: landscape) {
  .card-imag { max-height: 90%; }
}