<<<<<<< HEAD


body {
    font-family: sans-serif;
    background-image: url(https://images.unsplash.com/photo-1540921181925-b9726bc32384?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFpbHklMjBwbGFubmVyfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
=======
.btn {
    border: none;
    background-color:grey;
    border-radius: 15px; 
    color: white;
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin-right: 40%;
    padding: 14px 14px;
    width: 15%;
    /* text-align: center; */
    float: right;  
  }

  #search-form {
     text-align: center; 
     padding-bottom: 10px;

>>>>>>> 9983c9396779f5c3082ce7de92f5e4bea3ee2549
  }