body {
    background-image: url('https://images.pexels.com/photos/442579/pexels-photo-442579.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }




h1{
    text-align: center;
    color: crimson;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
   
}
p{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
    white-space: normal;
    
}
.link-centered{
    text-align: center;
    color: brown;
}
a:link {
    background-color: yellow;
  }
  
  a:visited {
    background-color: cyan;
  }
  
  a:hover {
    background-color: lightgreen;
  }
  
  a:active {
    background-color: hotpink;
  } 


  footer {
    padding-bottom: 1px;
    font-size: 15px;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
   background-color: black;
    color: white;
   
    text-align: center;
    
  }