

body {
    font-family: sans-serif;
    background-image: url(https://images.unsplash.com/photo-1540921181925-b9726bc32384?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFpbHklMjBwbGFubmVyfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
  }